In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
train=pd.read_csv("bike-sharing-demand/train.csv", parse_dates=['datetime'])
train.shape
test=pd.read_csv("bike-sharing-demand/test.csv", parse_dates=['datetime'])
test.shape

train['year']=train['datetime'].dt.year
train['month']=train['datetime'].dt.month
train['day']=train['datetime'].dt.day
train['hour']=train['datetime'].dt.hour
train['minute']=train['datetime'].dt.minute
train['second']=train['datetime'].dt.second
train['dayofweek']=train['datetime'].dt.dayofweek
train.shape

#풍속이 0인 값을 일괄적으로 평균으로 대체
#train.loc[train['windspeed']==0,'windspeed']=train['windspeed'].mean()
#test.loc[train['windspeed']==0,'windspeed']=train['windspeed'].mean()

#train.loc[train['windspeed']==0]
trainWind0=train.loc[train['windspeed']==0]
trainWindNot0=train.loc[train['windspeed']!=0]
#풍속0, 풍속이 0이 아닌것
print(trainWind0.shape)
print(trainWindNot0.shape)

(1313, 19)
(9573, 19)

In [132]:
from sklearn.ensemble import RandomForestClassifier

In [133]:
dataWind0=train.loc[train['windspeed']==0]
dataWindNot0=train.loc[train['windspeed']!=0]
wCol=['season', 'weather', 'humidity', 'month','temp', 'year', 'atemp']
dataWindNot0['windspeed']=dataWindNot0['windspeed'].astype('str')
# 이 라벨을 str로 바꿔줘야 하는구나

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [134]:
dataWind0.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0,5

In [135]:
dataWindNot0.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,2011,1,1,10,0,0,5
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,2011,1,1,11,0,0,5
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,2011,1,1,12,0,0,5
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,2011,1,1,13,0,0,5

In [136]:
model_wind = RandomForestClassifier()
model_wind.fit(dataWindNot0[wCol],dataWindNot0['windspeed'])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [137]:
dataWindNot0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9573 entries, 5 to 10885
Data columns (total 19 columns):
datetime      9573 non-null datetime64[ns]
season        9573 non-null int64
holiday       9573 non-null int64
workingday    9573 non-null int64
weather       9573 non-null int64
temp          9573 non-null float64
atemp         9573 non-null float64
humidity      9573 non-null int64
windspeed     9573 non-null object
casual        9573 non-null int64
registered    9573 non-null int64
count         9573 non-null int64
year          9573 non-null int64
month         9573 non-null int64
day           9573 non-null int64
hour          9573 non-null int64
minute        9573 non-null int64
second        9573 non-null int64
dayofweek     9573 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(15), object(1)
memory usage: 1.5+ MB

In [138]:
wind0Values=model_wind.predict(X=dataWind0[wCol])

In [139]:
# 둘이 분리하면 인덱스는 쥐파먹은듯이 분리됨!
dataWind0.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0,2,0,2,2011,1,1,6,0,0,5
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0,1,2,3,2011,1,1,7,0,0,5
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0,1,7,8,2011,1,1,8,0,0,5
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0,8,6,14,2011,1,1,9,0,0,5
64,2011-01-03 19:00:00,1,0,1,1,8.20,12.880,47,0.0,8,102,110,2011,1,3,19,0,0,0

In [140]:
dataWindNot0.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,2011,1,1,10,0,0,5
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,2011,1,1,11,0,0,5
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,2011,1,1,12,0,0,5
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,2011,1,1,13,0,0,5
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,2011,1,1,14,0,0,5
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,2011,1,1,15,0,0,5
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93,2011,1,1,16,0,0,5
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67,2011,1,1,17,0,0,5
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35,2011,1,1,18,0,0,5

In [141]:
predictWind0 = dataWind0

In [142]:
predictWind0

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0,2,0,2,2011,1,1,6,0,0,5
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0,1,2,3,2011,1,1,7,0,0,5
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0,1,7,8,2011,1,1,8,0,0,5
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0,8,6,14,2011,1,1,9,0,0,5
64,2011-01-03 19:00:00,1,0,1,1,8.20,12.880,47,0.0,8,102,110,2011,1,3,19,0,0,0
89,2011-01-04 21:00:00,1,0,1,1,9.02,13.635,64,0.0,0,48,48,2011,1,4,21,0,0,1
92,2011-01-05 00:00:00,1,0,1,1,8.20,12.880,64,0.0,0,6,6,2011,1,5,0,0,0,2
114,2011-01-05 23:00:00,1,0,1,1,8.20,12.880,47,0.0,1,18,19,2011,1,5,23,0,0,2
115,2011-01-06 00:00:00,1,0,1,1,7.38,12.120,55,0.0,0,11,11,2011,1,6,0,0,0,3
116,2011-01-06 01:00:00,1,0,1,1,6.56,11.365,64,0.0,0,4,4,2011,1,6,1,0,0,3
117,2011-01-06 02:00:00,1,0,1,1,6.56,11.365,64,0.0,0,2,2,2011,1,6,2,0,0,3
121,2011-01-06 07:00:00,1,0,1,2,6.56,11.365,59,0.0,0,95,95,2011,1,6,7,0,0,3
122,2011-01-06 08:00:00,1,0,1,1,6.56,11.365,59,0.0,3,216,219,2011,1,6,8,0,0,3
123,2011-01-06 09:00:00,1,0,1,2,7.38,12.120,51,0.0,6,116,122,2011,1,6,9,0,0,3
124,2011-01-06 10:00:00,1,0,1,1,8.20,12.880,47,0.0,3,42,45,2011,1,6,10,0,0,3
126,2011-01-06 12:00:00,1,0,1,1,10.66,14.395,35,0.0,6,78,84,2011,1,6,12,0,0,3
129,2011-01-06 15:00:00,1,0,1,1,11.48,13.635,36,0.0,8,54,62,2011,1,6,15,0,0,3
142,2011-01-07 05:00:00,1,0,1,3,9.02,13.635,55,0.0,0,5,5,2011,1,7,5,0,0,4
143,2011-01-07 06:00:00,1,0,1,2,8.20,12.880,69,0.0,8,26,34,2011,1,7,6,0,0,4
154,2011-01-07 17:00:00,1,0,1,2,8.20,12.880,37,0.0,9,178,187,2011,1,7,17,0,0,4
163,2011-01-08 02:00:00,1,0,0,2,7.38,12.120,55,0.0,3,13,16,2011,1,8,2,0,0,5
238,2011-01-11 07:00:00,1,0,1,2,6.56,11.365,55,0.0,2,97,99,2011,1,11,7,0,0,1
250,2011-01-11 19:00:00,1,0,1,3,6.56,11.365,93,0.0,0,51,51,2011,1,11,19,0,0,1
306,2011-01-14 06:00:00,1,0,1,1,4.10,9.090,54,0.0,0,17,17,2011,1,14,6,0,0,4
308,2011-01-14 08:00:00,1,0,1,1,4.92,8.335,68,0.0,2,156,158,2011,1,14,8,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10706,2012-12-12 12:00:00,4,0,1,2,13.94,18.180,42,0.0,14,218,232,2012,12,12,12,0,0,2
10707,2012-12-12 13:00:00,4,0,1,2,13.94,18.180,42,0.0,18,220,238,2012,12,12,13,0,0,2
10708,2012-12-12 14:00:00,4,0,1,2,13.94,18.180,46,0.0,34,191,225,2012,12,12,14,0,0,2
10738,2012-12-13 20:00:00,4,0,1,1,12.30,16.665,45,0.0,6,235,241,2012,12,13,20,0,0,3
10739,2012-12-13 21:00:00,4,0,1,1,11.48,15.910,48,0.0,13,200,213,2012,12,13,21,0,0,3
10741,2012-12-13 23:00:00,4,0,1,1,10.66,15.150,60,0.0,5,115,120,2012,12,13,23,0,0,3
10744,2012-12-14 02:00:00,4,0,1,1,9.02,13.635,69,0.0,3,6,9,2012,12,14,2,0,0,4
10766,2012-12-15 00:00:00,4,0,0,1,12.30,16.665,70,0.0,4,90,94,2012,12,15,0,0,0,5
10768,2012-12-15 02:00:00,4,0,0,1,10.66,15.150,81,0.0,6,63,69,2012,12,15,2,0,0,5
10769,2012-12-15 03:00:00,4,0,0,2,9.84,14.395,81,0.0,5,18,23,2012,12,15,3,0,0,5
10771,2012-12-15 05:00:00,4,0,0,2,10.66,15.150,75,0.0,0,3,3,2012,12,15,5,0,0,5
10772,2012-12-15 06:00:00,4,0,0,2,9.84,14.395,75,0.0,0,11,11,2012,12,15,6,0,0,5
10781,2012-12-15 15:00:00,4,0,0,1,17.22,21.210,47,0.0,95,352,447,2012,12,15,15,0,0,5
10790,2012-12-16 00:00:00,4,0,0,2,14.76,18.940,62,0.0,8,102,110,2012,12,16,0,0,0,6
10794,2012-12-16 04:00:00,4,0,0,2,13.94,18.180,87,0.0,1,10,11,2012,12,16,4,0,0,6
10795,2012-12-16 05:00:00,4,0,0,2,13.94,18.180,87,0.0,0,9,9,2012,12,16,5,0,0,6
10796,2012-12-16 06:00:00,4,0,0,2,13.94,18.180,87,0.0,0,6,6,2012,12,16,6,0,0,6
10810,2012-12-16 20:00:00,4,0,0,2,15.58,19.695,82,0.0,14,108,122,2012,12,16,20,0,0,6
10811,2012-12-16 21:00:00,4,0,0,2,14.76,18.940,93,0.0,14,92,106,2012,12,16,21,0,0,6
10814,2012-12-17 00:00:00,4,0,1,2,15.58,19.695,87,0.0,2,26,28,2012,12,17,0,0,0,0
10816,2012-12-17 02:00:00,4,0,1,2,15.58,19.695,94,0.0,1,4,5,2012,12,17,2,0,0,0
10817,2012-12-17 03:00:00,4,0,1,2,14.76,18.940,93,0.0,0,3,3,2012,12,17,3,0,0,0
10818,2012-12-17 04:00:00,4,0,1,3,14.76,18.940,100,0.0,2,3,5,2012,12,17,4,0,0,0
10819,2012-12-17 05:00:00,4,0,1,2,15.58,19.695,87,0.0,0,24,24,2012,12,17,5,0,0,0
10823,2012-12-17 09:00:00,4,0,1,2,16.40,20.455,87,0.0,11,271,282,2012,12,17,9,0,0,0
10826,2012-12-17 12:00:00,4,0,1,2,16.40,20.455,87,0.0,21,211,232,2012,12,17,12,0,0,0
10829,2012-12-17 15:00:00,4,0,1,2,17.22,21.210,88,0.0,15,196,211,2012,12,17,15,0,0,0
10846,2012-12-18 08:00:00,4,0,1,1,15.58,19.695,94,0.0,10,652,662,2012,12,18,8,0,0,1
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0,5,127,132,2012,12,18,22,0,0,1
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0,6,35,41,2012,12,19,0,0,0,2

In [143]:
predictWindNot0 = dataWindNot0

In [144]:
predictWindNot0

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,2011,1,1,10,0,0,5
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,2011,1,1,11,0,0,5
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,2011,1,1,12,0,0,5
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,2011,1,1,13,0,0,5
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,2011,1,1,14,0,0,5
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,2011,1,1,15,0,0,5
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93,2011,1,1,16,0,0,5
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67,2011,1,1,17,0,0,5
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35,2011,1,1,18,0,0,5
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37,2011,1,1,19,0,0,5
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36,2011,1,1,20,0,0,5
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.998,3,31,34,2011,1,1,21,0,0,5
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28,2011,1,1,22,0,0,5
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39,2011,1,1,23,0,0,5
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,2011,1,2,0,0,0,6
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,2011,1,2,1,0,0,6
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,2011,1,2,2,0,0,6
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.998,2,4,6,2011,1,2,3,0,0,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.998,2,1,3,2011,1,2,4,0,0,6
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2,2011,1,2,6,0,0,6
30,2011-01-02 07:00:00,1,0,0,2,16.40,20.455,76,12.998,0,1,1,2011,1,2,7,0,0,6
31,2011-01-02 08:00:00,1,0,0,3,16.40,20.455,71,15.0013,0,8,8,2011,1,2,8,0,0,6
32,2011-01-02 09:00:00,1,0,0,2,15.58,19.695,76,15.0013,1,19,20,2011,1,2,9,0,0,6
33,2011-01-02 10:00:00,1,0,0,2,14.76,17.425,81,15.0013,7,46,53,2011,1,2,10,0,0,6
34,2011-01-02 11:00:00,1,0,0,2,14.76,16.665,71,16.9979,16,54,70,2011,1,2,11,0,0,6
35,2011-01-02 12:00:00,1,0,0,2,14.76,16.665,66,19.9995,20,73,93,2011,1,2,12,0,0,6
36,2011-01-02 13:00:00,1,0,0,2,14.76,17.425,66,8.9981,11,64,75,2011,1,2,13,0,0,6
37,2011-01-02 14:00:00,1,0,0,3,14.76,17.425,76,12.998,4,55,59,2011,1,2,14,0,0,6
38,2011-01-02 15:00:00,1,0,0,3,13.94,16.665,81,11.0014,19,55,74,2011,1,2,15,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10854,2012-12-18 16:00:00,4,0,1,1,18.04,21.970,41,31.0009,40,323,363,2012,12,18,16,0,0,1
10855,2012-12-18 17:00:00,4,0,1,1,16.40,20.455,47,30.0026,39,533,572,2012,12,18,17,0,0,1
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525,2012,12,18,18,0,0,1
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353,2012,12,18,19,0,0,1
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268,2012,12,18,20,0,0,1
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168,2012,12,18,21,0,0,1
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81,2012,12,18,23,0,0,1
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15,2012,12,19,1,0,0,2
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3,2012,12,19,2,0,0,2
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5,2012,12,19,3,0,0,2
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7,2012,12,19,4,0,0,2
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31,2012,12,19,5,0,0,2
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112,2012,12,19,6,0,0,2
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363,2012,12,19,7,0,0,2
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678,2012,12,19,8,0,0,2
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317,2012,12,19,9,0,0,2
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164,2012,12,19,10,0,0,2
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200,2012,12,19,11,0,0,2
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236,2012,12,19,12,0,0,2
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.998,30,183,213,2012,12,19,13,0,0,2
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.998,33,185,218,2012,12,19,14,0,0,2
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237,2012,12,19,15,0,0,2
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334,2012,12,19,16,0,0,2
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562,2012,12,19,17,0,0,2
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569,2012,12,19,18,0,0,2
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012,12,19,19,0,0,2
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012,12,19,20,0,0,2
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,19,21,0,0,2
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,19,22,0,0,2
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,19,23,0,0,2

In [145]:
predictWind0['windspeed'] = wind0Values
predictWind0.head(10)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,6.0032,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,6.0032,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,6.0032,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,6.0032,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,6.0032,0,1,1,2011,1,1,4,0,0,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,6.0032,2,0,2,2011,1,1,6,0,0,5
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,6.0032,1,2,3,2011,1,1,7,0,0,5
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,6.0032,1,7,8,2011,1,1,8,0,0,5
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,7.0015,8,6,14,2011,1,1,9,0,0,5
64,2011-01-03 19:00:00,1,0,1,1,8.20,12.880,47,7.0015,8,102,110,2011,1,3,19,0,0,0

In [146]:
predictWind0.info() # 이거 하면 여전히 windspeed는 1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313 entries, 0 to 10862
Data columns (total 19 columns):
datetime      1313 non-null datetime64[ns]
season        1313 non-null int64
holiday       1313 non-null int64
workingday    1313 non-null int64
weather       1313 non-null int64
temp          1313 non-null float64
atemp         1313 non-null float64
humidity      1313 non-null int64
windspeed     1313 non-null object
casual        1313 non-null int64
registered    1313 non-null int64
count         1313 non-null int64
year          1313 non-null int64
month         1313 non-null int64
day           1313 non-null int64
hour          1313 non-null int64
minute        1313 non-null int64
second        1313 non-null int64
dayofweek     1313 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(15), object(1)
memory usage: 205.2+ KB

In [219]:
data = predictWindNot0.append(predictWind0)
data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,2011,1,1,10,0,0,5
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,2011,1,1,11,0,0,5
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,2011,1,1,12,0,0,5
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,2011,1,1,13,0,0,5
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,2011,1,1,14,0,0,5
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,2011,1,1,15,0,0,5
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93,2011,1,1,16,0,0,5
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67,2011,1,1,17,0,0,5
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35,2011,1,1,18,0,0,5
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37,2011,1,1,19,0,0,5
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36,2011,1,1,20,0,0,5
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.998,3,31,34,2011,1,1,21,0,0,5
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28,2011,1,1,22,0,0,5
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39,2011,1,1,23,0,0,5
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,2011,1,2,0,0,0,6
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,2011,1,2,1,0,0,6
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,2011,1,2,2,0,0,6
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.998,2,4,6,2011,1,2,3,0,0,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.998,2,1,3,2011,1,2,4,0,0,6
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2,2011,1,2,6,0,0,6
30,2011-01-02 07:00:00,1,0,0,2,16.40,20.455,76,12.998,0,1,1,2011,1,2,7,0,0,6
31,2011-01-02 08:00:00,1,0,0,3,16.40,20.455,71,15.0013,0,8,8,2011,1,2,8,0,0,6
32,2011-01-02 09:00:00,1,0,0,2,15.58,19.695,76,15.0013,1,19,20,2011,1,2,9,0,0,6
33,2011-01-02 10:00:00,1,0,0,2,14.76,17.425,81,15.0013,7,46,53,2011,1,2,10,0,0,6
34,2011-01-02 11:00:00,1,0,0,2,14.76,16.665,71,16.9979,16,54,70,2011,1,2,11,0,0,6
35,2011-01-02 12:00:00,1,0,0,2,14.76,16.665,66,19.9995,20,73,93,2011,1,2,12,0,0,6
36,2011-01-02 13:00:00,1,0,0,2,14.76,17.425,66,8.9981,11,64,75,2011,1,2,13,0,0,6
37,2011-01-02 14:00:00,1,0,0,3,14.76,17.425,76,12.998,4,55,59,2011,1,2,14,0,0,6
38,2011-01-02 15:00:00,1,0,0,3,13.94,16.665,81,11.0014,19,55,74,2011,1,2,15,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10706,2012-12-12 12:00:00,4,0,1,2,13.94,18.180,42,7.0015,14,218,232,2012,12,12,12,0,0,2
10707,2012-12-12 13:00:00,4,0,1,2,13.94,18.180,42,7.0015,18,220,238,2012,12,12,13,0,0,2
10708,2012-12-12 14:00:00,4,0,1,2,13.94,18.180,46,7.0015,34,191,225,2012,12,12,14,0,0,2
10738,2012-12-13 20:00:00,4,0,1,1,12.30,16.665,45,7.0015,6,235,241,2012,12,13,20,0,0,3
10739,2012-12-13 21:00:00,4,0,1,1,11.48,15.910,48,7.0015,13,200,213,2012,12,13,21,0,0,3
10741,2012-12-13 23:00:00,4,0,1,1,10.66,15.150,60,6.0032,5,115,120,2012,12,13,23,0,0,3
10744,2012-12-14 02:00:00,4,0,1,1,9.02,13.635,69,6.0032,3,6,9,2012,12,14,2,0,0,4
10766,2012-12-15 00:00:00,4,0,0,1,12.30,16.665,70,7.0015,4,90,94,2012,12,15,0,0,0,5
10768,2012-12-15 02:00:00,4,0,0,1,10.66,15.150,81,6.0032,6,63,69,2012,12,15,2,0,0,5
10769,2012-12-15 03:00:00,4,0,0,2,9.84,14.395,81,6.0032,5,18,23,2012,12,15,3,0,0,5
10771,2012-12-15 05:00:00,4,0,0,2,10.66,15.150,75,6.0032,0,3,3,2012,12,15,5,0,0,5
10772,2012-12-15 06:00:00,4,0,0,2,9.84,14.395,75,6.0032,0,11,11,2012,12,15,6,0,0,5
10781,2012-12-15 15:00:00,4,0,0,1,17.22,21.210,47,12.998,95,352,447,2012,12,15,15,0,0,5
10790,2012-12-16 00:00:00,4,0,0,2,14.76,18.940,62,8.9981,8,102,110,2012,12,16,0,0,0,6
10794,2012-12-16 04:00:00,4,0,0,2,13.94,18.180,87,6.0032,1,10,11,2012,12,16,4,0,0,6
10795,2012-12-16 05:00:00,4,0,0,2,13.94,18.180,87,6.0032,0,9,9,2012,12,16,5,0,0,6
10796,2012-12-16 06:00:00,4,0,0,2,13.94,18.180,87,6.0032,0,6,6,2012,12,16,6,0,0,6
10810,2012-12-16 20:00:00,4,0,0,2,15.58,19.695,82,7.0015,14,108,122,2012,12,16,20,0,0,6
10811,2012-12-16 21:00:00,4,0,0,2,14.76,18.940,93,7.0015,14,92,106,2012,12,16,21,0,0,6
10814,2012-12-17 00:00:00,4,0,1,2,15.58,19.695,87,7.0015,2,26,28,2012,12,17,0,0,0,0
10816,2012-12-17 02:00:00,4,0,1,2,15.58,19.695,94,7.0015,1,4,5,2012,12,17,2,0,0,0
10817,2012-12-17 03:00:00,4,0,1,2,14.76,18.940,93,7.0015,0,3,3,2012,12,17,3,0,0,0
10818,2012-12-17 04:00:00,4,0,1,3,14.76,18.940,100,6.0032,2,3,5,2012,12,17,4,0,0,0
10819,2012-12-17 05:00:00,4,0,1,2,15.58,19.695,87,7.0015,0,24,24,2012,12,17,5,0,0,0
10823,2012-12-17 09:00:00,4,0,1,2,16.40,20.455,87,8.9981,11,271,282,2012,12,17,9,0,0,0
10826,2012-12-17 12:00:00,4,0,1,2,16.40,20.455,87,8.9981,21,211,232,2012,12,17,12,0,0,0
10829,2012-12-17 15:00:00,4,0,1,2,17.22,21.210,88,8.9981,15,196,211,2012,12,17,15,0,0,0
10846,2012-12-18 08:00:00,4,0,1,1,15.58,19.695,94,8.9981,10,652,662,2012,12,18,8,0,0,1
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,12.998,5,127,132,2012,12,18,22,0,0,1
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,6.0032,6,35,41,2012,12,19,0,0,0,2

In [220]:
# data['windspeed']=data['windspeed'].astype('float')

In [221]:
# data.reset_index(inplace=True)
# data

In [222]:
data.reset_index(inplace=True)
data['windspeed']=data['windspeed'].astype('float')
data
# 오잉? 데이터 value(datetime을 보니)가 시간순으로 안 되어 있잖아!

,index,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
1,10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,2011,1,1,10,0,0,5
2,11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,2011,1,1,11,0,0,5
3,12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,2011,1,1,12,0,0,5
4,13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,2011,1,1,13,0,0,5
5,14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,2011,1,1,14,0,0,5
6,15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,2011,1,1,15,0,0,5
7,16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93,2011,1,1,16,0,0,5
8,17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67,2011,1,1,17,0,0,5
9,18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35,2011,1,1,18,0,0,5
10,19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37,2011,1,1,19,0,0,5
11,20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36,2011,1,1,20,0,0,5
12,21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34,2011,1,1,21,0,0,5
13,22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28,2011,1,1,22,0,0,5
14,23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39,2011,1,1,23,0,0,5
15,24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,2011,1,2,0,0,0,6
16,25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,2011,1,2,1,0,0,6
17,26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,2011,1,2,2,0,0,6
18,27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6,2011,1,2,3,0,0,6
19,28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3,2011,1,2,4,0,0,6
20,29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2,2011,1,2,6,0,0,6
21,30,2011-01-02 07:00:00,1,0,0,2,16.40,20.455,76,12.9980,0,1,1,2011,1,2,7,0,0,6
22,31,2011-01-02 08:00:00,1,0,0,3,16.40,20.455,71,15.0013,0,8,8,2011,1,2,8,0,0,6
23,32,2011-01-02 09:00:00,1,0,0,2,15.58,19.695,76,15.0013,1,19,20,2011,1,2,9,0,0,6
24,33,2011-01-02 10:00:00,1,0,0,2,14.76,17.425,81,15.0013,7,46,53,2011,1,2,10,0,0,6
25,34,2011-01-02 11:00:00,1,0,0,2,14.76,16.665,71,16.9979,16,54,70,2011,1,2,11,0,0,6
26,35,2011-01-02 12:00:00,1,0,0,2,14.76,16.665,66,19.9995,20,73,93,2011,1,2,12,0,0,6
27,36,2011-01-02 13:00:00,1,0,0,2,14.76,17.425,66,8.9981,11,64,75,2011,1,2,13,0,0,6
28,37,2011-01-02 14:00:00,1,0,0,3,14.76,17.425,76,12.9980,4,55,59,2011,1,2,14,0,0,6
29,38,2011-01-02 15:00:00,1,0,0,3,13.94,16.665,81,11.0014,19,55,74,2011,1,2,15,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,10706,2012-12-12 12:00:00,4,0,1,2,13.94,18.180,42,7.0015,14,218,232,2012,12,12,12,0,0,2
10857,10707,2012-12-12 13:00:00,4,0,1,2,13.94,18.180,42,7.0015,18,220,238,2012,12,12,13,0,0,2
10858,10708,2012-12-12 14:00:00,4,0,1,2,13.94,18.180,46,7.0015,34,191,225,2012,12,12,14,0,0,2
10859,10738,2012-12-13 20:00:00,4,0,1,1,12.30,16.665,45,7.0015,6,235,241,2012,12,13,20,0,0,3
10860,10739,2012-12-13 21:00:00,4,0,1,1,11.48,15.910,48,7.0015,13,200,213,2012,12,13,21,0,0,3
10861,10741,2012-12-13 23:00:00,4,0,1,1,10.66,15.150,60,6.0032,5,115,120,2012,12,13,23,0,0,3
10862,10744,2012-12-14 02:00:00,4,0,1,1,9.02,13.635,69,6.0032,3,6,9,2012,12,14,2,0,0,4
10863,10766,2012-12-15 00:00:00,4,0,0,1,12.30,16.665,70,7.0015,4,90,94,2012,12,15,0,0,0,5
10864,10768,2012-12-15 02:00:00,4,0,0,1,10.66,15.150,81,6.0032,6,63,69,2012,12,15,2,0,0,5
10865,10769,2012-12-15 03:00:00,4,0,0,2,9.84,14.395,81,6.0032,5,18,23,2012,12,15,3,0,0,5
10866,10771,2012-12-15 05:00:00,4,0,0,2,10.66,15.150,75,6.0032,0,3,3,2012,12,15,5,0,0,5
10867,10772,2012-12-15 06:00:00,4,0,0,2,9.84,14.395,75,6.0032,0,11,11,2012,12,15,6,0,0,5
10868,10781,2012-12-15 15:00:00,4,0,0,1,17.22,21.210,47,12.9980,95,352,447,2012,12,15,15,0,0,5
10869,10790,2012-12-16 00:00:00,4,0,0,2,14.76,18.940,62,8.9981,8,102,110,2012,12,16,0,0,0,6
10870,10794,2012-12-16 04:00:00,4,0,0,2,13.94,18.180,87,6.0032,1,10,11,2012,12,16,4,0,0,6
10871,10795,2012-12-16 05:00:00,4,0,0,2,13.94,18.180,87,6.0032,0,9,9,2012,12,16,5,0,0,6
10872,10796,2012-12-16 06:00:00,4,0,0,2,13.94,18.180,87,6.0032,0,6,6,2012,12,16,6,0,0,6
10873,10810,2012-12-16 20:00:00,4,0,0,2,15.58,19.695,82,7.0015,14,108,122,2012,12,16,20,0,0,6
10874,10811,2012-12-16 21:00:00,4,0,0,2,14.76,18.940,93,7.0015,14,92,106,2012,12,16,21,0,0,6
10875,10814,2012-12-17 00:00:00,4,0,1,2,15.58,19.695,87,7.0015,2,26,28,2012,12,17,0,0,0,0
10876,10816,2012-12-17 02:00:00,4,0,1,2,15.58,19.695,94,7.0015,1,4,5,2012,12,17,2,0,0,0
10877,10817,2012-12-17 03:00:00,4,0,1,2,14.76,18.940,93,7.0015,0,3,3,2012,12,17,3,0,0,0
10878,10818,2012-12-17 04:00:00,4,0,1,3,14.76,18.940,100,6.0032,2,3,5,2012,12,17,4,0,0,0
10879,10819,2012-12-17 05:00:00,4,0,1,2,15.58,19.695,87,7.0015,0,24,24,2012,12,17,5,0,0,0
10880,10823,2012-12-17 09:00:00,4,0,1,2,16.40,20.455,87,8.9981,11,271,282,2012,12,17,9,0,0,0
10881,10826,2012-12-17 12:00:00,4,0,1,2,16.40,20.455,87,8.9981,21,211,232,2012,12,17,12,0,0,0
10882,10829,2012-12-17 15:00:00,4,0,1,2,17.22,21.210,88,8.9981,15,196,211,2012,12,17,15,0,0,0
10883,10846,2012-12-18 08:00:00,4,0,1,1,15.58,19.695,94,8.9981,10,652,662,2012,12,18,8,0,0,1
10884,10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,12.9980,5,127,132,2012,12,18,22,0,0,1
10885,10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,6.0032,6,35,41,2012,12,19,0,0,0,2

In [223]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 20 columns):
index         10886 non-null int64
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
year          10886 non-null int64
month         10886 non-null int64
day           10886 non-null int64
hour          10886 non-null int64
minute        10886 non-null int64
second        10886 non-null int64
dayofweek     10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(16)
memory usage: 1.7 MB

In [224]:
data = data.sort_values(by='index').set_index('index')

In [225]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 19 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
year          10886 non-null int64
month         10886 non-null int64
day           10886 non-null int64
hour          10886 non-null int64
minute        10886 non-null int64
second        10886 non-null int64
dayofweek     10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(15)
memory usage: 1.7 MB

In [226]:
data.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
index,,,,,,,,,,,,,,,,,,,
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,6.0032,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,6.0032,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,6.0032,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,6.0032,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,6.0032,0,1,1,2011,1,1,4,0,0,5
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,1,5,0,0,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,6.0032,2,0,2,2011,1,1,6,0,0,5
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,6.0032,1,2,3,2011,1,1,7,0,0,5
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,6.0032,1,7,8,2011,1,1,8,0,0,5
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,7.0015,8,6,14,2011,1,1,9,0,0,5

In [227]:
# 좀있다가 이제 train / test 데이터만 형식만 바꿔주고 다시 돌려보자!
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 19 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
year          10886 non-null int64
month         10886 non-null int64
day           10886 non-null int64
hour          10886 non-null int64
minute        10886 non-null int64
second        10886 non-null int64
dayofweek     10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(15)
memory usage: 1.7 MB

In [228]:
catlist = ['season','holiday','workingday','weather','month','hour','dayofweek']

In [229]:
data['year'] = data['year'].map({2011:0, 2012:1})

In [230]:
for cat in catlist:
    data[cat] = data[cat].astype('category')

In [231]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 19 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null category
holiday       10886 non-null category
workingday    10886 non-null category
weather       10886 non-null category
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
year          10886 non-null int64
month         10886 non-null category
day           10886 non-null int64
hour          10886 non-null category
minute        10886 non-null int64
second        10886 non-null int64
dayofweek     10886 non-null category
dtypes: category(7), datetime64[ns](1), float64(3), int64(8)
memory usage: 1.2 MB

In [232]:
droplist = ['datetime','casual','registered','count','day','minute','second']
data.drop(droplist,axis=1).info()
data_label = data['count']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 12 columns):
season        10886 non-null category
holiday       10886 non-null category
workingday    10886 non-null category
weather       10886 non-null category
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
year          10886 non-null int64
month         10886 non-null category
hour          10886 non-null category
dayofweek     10886 non-null category
dtypes: category(7), float64(3), int64(2)
memory usage: 586.8 KB

In [233]:
data = data.drop(droplist,axis=1)

In [234]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 12 columns):
season        10886 non-null category
holiday       10886 non-null category
workingday    10886 non-null category
weather       10886 non-null category
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
year          10886 non-null int64
month         10886 non-null category
hour          10886 non-null category
dayofweek     10886 non-null category
dtypes: category(7), float64(3), int64(2)
memory usage: 586.8 KB

In [235]:
train_submit = pd.get_dummies(data)
train_submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10886 entries, 0 to 10885
Data columns (total 60 columns):
temp            10886 non-null float64
atemp           10886 non-null float64
humidity        10886 non-null int64
windspeed       10886 non-null float64
year            10886 non-null int64
season_1        10886 non-null uint8
season_2        10886 non-null uint8
season_3        10886 non-null uint8
season_4        10886 non-null uint8
holiday_0       10886 non-null uint8
holiday_1       10886 non-null uint8
workingday_0    10886 non-null uint8
workingday_1    10886 non-null uint8
weather_1       10886 non-null uint8
weather_2       10886 non-null uint8
weather_3       10886 non-null uint8
weather_4       10886 non-null uint8
month_1         10886 non-null uint8
month_2         10886 non-null uint8
month_3         10886 non-null uint8
month_4         10886 non-null uint8
month_5         10886 non-null uint8
month_6         10886 non-null uint8
month_7         10886 non-null uint8
month_8         10886 non-null uint8
month_9         10886 non-null uint8
month_10        10886 non-null uint8
month_11        10886 non-null uint8
month_12        10886 non-null uint8
hour_0          10886 non-null uint8
hour_1          10886 non-null uint8
hour_2          10886 non-null uint8
hour_3          10886 non-null uint8
hour_4          10886 non-null uint8
hour_5          10886 non-null uint8
hour_6          10886 non-null uint8
hour_7          10886 non-null uint8
hour_8          10886 non-null uint8
hour_9          10886 non-null uint8
hour_10         10886 non-null uint8
hour_11         10886 non-null uint8
hour_12         10886 non-null uint8
hour_13         10886 non-null uint8
hour_14         10886 non-null uint8
hour_15         10886 non-null uint8
hour_16         10886 non-null uint8
hour_17         10886 non-null uint8
hour_18         10886 non-null uint8
hour_19         10886 non-null uint8
hour_20         10886 non-null uint8
hour_21         10886 non-null uint8
hour_22         10886 non-null uint8
hour_23         10886 non-null uint8
dayofweek_0     10886 non-null uint8
dayofweek_1     10886 non-null uint8
dayofweek_2     10886 non-null uint8
dayofweek_3     10886 non-null uint8
dayofweek_4     10886 non-null uint8
dayofweek_5     10886 non-null uint8
dayofweek_6     10886 non-null uint8
dtypes: float64(3), int64(2), uint8(55)
memory usage: 1.1 MB

In [260]:
test_submit = test.copy()

In [261]:
test_submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null datetime64[ns]
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(5)
memory usage: 456.6 KB

In [262]:
test_submit.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013

In [263]:
test_submit['year']=test_submit['datetime'].dt.year
test_submit['month']=test_submit['datetime'].dt.month
test_submit['hour']=test_submit['datetime'].dt.hour
test_submit['dayofweek']=test_submit['datetime'].dt.dayofweek

In [264]:
test_submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 13 columns):
datetime      6493 non-null datetime64[ns]
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
year          6493 non-null int64
month         6493 non-null int64
hour          6493 non-null int64
dayofweek     6493 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(9)
memory usage: 659.5 KB

In [265]:
test_submit['year'] = test_submit['year'].map({2011:0,2012:1})

In [266]:
test_submit = test_submit.drop('datetime',axis=1)

In [267]:
test_submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 12 columns):
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
year          6493 non-null int64
month         6493 non-null int64
hour          6493 non-null int64
dayofweek     6493 non-null int64
dtypes: float64(3), int64(9)
memory usage: 608.8 KB

In [268]:
catlist = ['season','holiday','workingday','weather','month','hour','dayofweek']

In [269]:
for cat in catlist:
    test_submit[cat] = test_submit[cat].astype('category')

In [288]:
pd.get_dummies(test_submit).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 60 columns):
temp            6493 non-null float64
atemp           6493 non-null float64
humidity        6493 non-null int64
windspeed       6493 non-null float64
year            6493 non-null int64
season_1        6493 non-null uint8
season_2        6493 non-null uint8
season_3        6493 non-null uint8
season_4        6493 non-null uint8
holiday_0       6493 non-null uint8
holiday_1       6493 non-null uint8
workingday_0    6493 non-null uint8
workingday_1    6493 non-null uint8
weather_1       6493 non-null uint8
weather_2       6493 non-null uint8
weather_3       6493 non-null uint8
weather_4       6493 non-null uint8
month_1         6493 non-null uint8
month_2         6493 non-null uint8
month_3         6493 non-null uint8
month_4         6493 non-null uint8
month_5         6493 non-null uint8
month_6         6493 non-null uint8
month_7         6493 non-null uint8
month_8         6493 non-null uint8
month_9         6493 non-null uint8
month_10        6493 non-null uint8
month_11        6493 non-null uint8
month_12        6493 non-null uint8
hour_0          6493 non-null uint8
hour_1          6493 non-null uint8
hour_2          6493 non-null uint8
hour_3          6493 non-null uint8
hour_4          6493 non-null uint8
hour_5          6493 non-null uint8
hour_6          6493 non-null uint8
hour_7          6493 non-null uint8
hour_8          6493 non-null uint8
hour_9          6493 non-null uint8
hour_10         6493 non-null uint8
hour_11         6493 non-null uint8
hour_12         6493 non-null uint8
hour_13         6493 non-null uint8
hour_14         6493 non-null uint8
hour_15         6493 non-null uint8
hour_16         6493 non-null uint8
hour_17         6493 non-null uint8
hour_18         6493 non-null uint8
hour_19         6493 non-null uint8
hour_20         6493 non-null uint8
hour_21         6493 non-null uint8
hour_22         6493 non-null uint8
hour_23         6493 non-null uint8
dayofweek_0     6493 non-null uint8
dayofweek_1     6493 non-null uint8
dayofweek_2     6493 non-null uint8
dayofweek_3     6493 non-null uint8
dayofweek_4     6493 non-null uint8
dayofweek_5     6493 non-null uint8
dayofweek_6     6493 non-null uint8
dtypes: float64(3), int64(2), uint8(55)
memory usage: 602.5 KB

In [289]:
test_submit = pd.get_dummies(test_submit)

In [277]:
#classifiaction.
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC,SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

#regression
from sklearn.linear_model import LinearRegression,Ridge,Lasso,RidgeCV
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

#model selection
from sklearn.model_selection import train_test_split,cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

#evaluation metrics
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error # for regression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score  # for classification

In [278]:
x_train,x_test,y_train,y_test=\
train_test_split(train_submit,data_label,test_size=0.25,random_state=42)

In [284]:
rfRegressor = RandomForestRegressor()
rfRegressor.fit(train_submit,data_label) # 학습은 진또배기로 시킴
test_pred = rfRegressor.predict(x_test)
rmsle = np.sqrt(mean_squared_log_error(test_pred,y_test))
print(rmsle)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.23062421575255182

In [291]:
real_pred = rfRegressor.predict(test_submit)
real_pred

array([ 16. ,   5.1,   4.9, ..., 130.2,  99.1,  46.5])

In [287]:
test_submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 12 columns):
season        6493 non-null category
holiday       6493 non-null category
workingday    6493 non-null category
weather       6493 non-null category
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
year          6493 non-null int64
month         6493 non-null category
hour          6493 non-null category
dayofweek     6493 non-null category
dtypes: category(7), float64(3), int64(2)
memory usage: 300.2 KB

In [292]:
sub = pd.DataFrame()
sub['datetime'] = test['datetime']
sub['count'] = real_pred
sub.to_csv('submission_bike_6.csv',index=False)