In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
tdata = pd.read_csv('train_titanic.csv')

In [37]:
tdata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
tdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [39]:
tdata['Age'] = tdata['Age'].interpolate(method='values')

In [40]:
tdata['isNullCabin'] = np.where(tdata['Cabin'].isnull(),True,False)

In [41]:
tdata['Embarked'] = tdata['Embarked'].fillna('unknown')

In [42]:
train = tdata.copy()

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null object
isNullCabin    891 non-null bool
dtypes: bool(1), float64(2), int64(5), object(5)
memory usage: 84.5+ KB

In [44]:
train = train.set_index('PassengerId')

In [45]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isNullCabin
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True

In [46]:
tNames = tdata['Name']

tN = tNames.values
tN

names = []
for name in tN:
    tmp = name.split(",")[1].split(".")[0].strip()
    names.append(tmp)

In [47]:
train['title'] = names

In [48]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isNullCabin,title
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,Mr
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,Mrs
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True,Miss
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False,Mrs
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,Mr

In [49]:
train['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [50]:
# SibSp : number of siblings
from sklearn.preprocessing import OneHotEncoder
# OneHotEncoder 객체 생성
ohe = OneHotEncoder()
ohe

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [51]:
sibsp = train['SibSp']
sibsp = sibsp.values
sibsp = sibsp.reshape(-1,1) # 1줄씩 잘라줌
sibsp[:5]

array([[1],
       [1],
       [0],
       [1],
       [0]], dtype=int64)

In [53]:
ohe.fit(sibsp)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [54]:
ohe.active_features_

array([0, 1, 2, 3, 4, 5, 8], dtype=int64)

In [55]:
ohe.n_values_

array([9])

In [56]:
ohe.feature_indices_

array([0, 9], dtype=int32)

In [57]:
ohe.categories_

[array([0., 1., 2., 3., 4., 5., 8.])]

In [58]:
test = np.array([[1]])
ohe.transform(test).toarray() # 테스트 완료

array([[0., 1., 0., 0., 0., 0., 0.]])

In [64]:
OHE_Sibsp = ohe.transform(sibsp).toarray() # 원 핫 인코딩 완료!

In [63]:
tmp.shape

(891, 7)

In [65]:
# tdata['OHE_SibSp'] = ohe.transform(sibsp).toarray() # 이렇게 하면 차원이 달라서 안들어감

In [66]:
# 2번째 원 핫 인코더 제작
ohe2 = OneHotEncoder()

In [67]:
tdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null object
isNullCabin    891 non-null bool
dtypes: bool(1), float64(2), int64(5), object(5)
memory usage: 84.5+ KB

In [87]:
class_sibsp_parch = tdata[['Pclass','SibSp','Parch']]

In [88]:
class_sibsp_parch.head()

   Pclass  SibSp  Parch
0       3      1      0
1       1      1      0
2       3      0      0
3       1      1      0
4       3      0      0

In [89]:
class_sibsp_parch_ndarray = class_sibsp_parch.values

In [90]:
class_sibsp_parch_ndarray[:5]

array([[3, 1, 0],
       [1, 1, 0],
       [3, 0, 0],
       [1, 1, 0],
       [3, 0, 0]], dtype=int64)

In [91]:
ohe2.fit(class_sibsp_parch_ndarray)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [92]:
ohe2.active_features_

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 12, 13, 14, 15, 16, 17, 18, 19],
      dtype=int64)

In [93]:
ohe2.n_values_

array([4, 9, 7])

In [94]:
ohe2.feature_indices_

array([ 0,  4, 13, 20], dtype=int32)

In [95]:
ohe2.categories_

[array([1., 2., 3.]),
 array([0., 1., 2., 3., 4., 5., 8.]),
 array([0., 1., 2., 3., 4., 5., 6.])]

In [96]:
class_sibsp_parch_ndarray[:5]

array([[3, 1, 0],
       [1, 1, 0],
       [3, 0, 0],
       [1, 1, 0],
       [3, 0, 0]], dtype=int64)

In [97]:
OHE_class_sibsp_parch_ndarray = \
    ohe2.transform(class_sibsp_parch_ndarray).toarray()

In [98]:
OHE_class_sibsp_parch_ndarray # 희소행렬 변환

array([[0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [102]:
# 등실별 / 항구별 : 사망자 / 생존자 대한 통계치 구하기
train.groupby(['Pclass','Embarked'])['Survived'].mean()

Pclass  Embarked
1       C           0.694118
        Q           0.500000
        S           0.582677
        unknown     1.000000
2       C           0.529412
        Q           0.666667
        S           0.463415
3       C           0.378788
        Q           0.375000
        S           0.189802
Name: Survived, dtype: float64

In [103]:
train.groupby(['Pclass','Embarked'])['Survived'].sum()

Pclass  Embarked
1       C           59
        Q            1
        S           74
        unknown      2
2       C            9
        Q            2
        S           76
3       C           25
        Q           27
        S           67
Name: Survived, dtype: int64