In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import urllib

In [16]:
# 연습문제 3
ans = 0
for num in range(10000):
    num = str(num)
#     print(num)
#     numlist = []
    for i in range(len(num)):
        if num[i] == '8':
            ans += 1
#     print(numlist)
#     for sn in numlist:
#         if sn == '8':
#             ans += 1
print(ans)

4000

In [17]:
# 문서간 단어들의 차이를 계산
# 유클리드 / 코사인 유사도
# 문서 등장하는 단어들을 일단 수치화 표현할 수 있어야 가능! (DTM, Word2Vec 등)

In [19]:
from numpy.linalg import norm # norm값 구하는 패키지 dl
def cos_sim(x, y):
    res = sum(x*y) / ((norm(x) * norm(y)))
    # np.dot(x,y) 쓰는게 좀더 의미상으로는 좋겠다
    return res

doc1 = np.array([1,1,0,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

print(cos_sim(doc1,doc2))
print(cos_sim(doc1,doc3))
print(cos_sim(doc2,doc3))

0.6666666666666667
0.6666666666666667
1.0000000000000002

In [26]:
# movies metadata
# cos 유사도 비슷한 영화를 추천해주고 싶다!
data = pd.read_csv("C:/datasets/the-movies-dataset/movies_metadata.csv")
data.head()[['overview','title']]

,overview,title
0,"Led by Woody, Andy's toys live happily in his ...",Toy Story
1,When siblings Judy and Peter discover an encha...,Jumanji
2,A family wedding reignites the ancient feud be...,Grumpier Old Men
3,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale
4,Just when George Banks has recovered from his ...,Father of the Bride Part II

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [22]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [30]:
# 불용어사전
from sklearn.feature_extraction.text import TfidfVectorizer # tf-idf
# 단순 코사인 유사도 기반 계산(연습)
tfidf = TfidfVectorizer()
tfidf
data['overview'].isnull().value_counts()
# null이 많누

False    44512
True       954
Name: overview, dtype: int64

In [33]:
data['overview'] = data['overview'].fillna('') # NaN의 경우 ''으로 치환하겠다는 말
data['overview'].isnull().value_counts() # tfidf 계산시 NaN있으면 에러!

False    45466
Name: overview, dtype: int64

In [36]:
# 그냥 tfidf 만등어줌
# 이건 불용어 안 뺀거?
tfidf_mat = tfidf.fit_transform(data['overview'])
tfidf_mat.shape

(45466, 76132)

In [ ]:
from sklearn.metrics.pairwise import linear_kernel # cos유사도 사용시 구하는 함수
cos_sim = linear_kernel(tfidf_mat, tfidf_mat)