In [1]:
#read_csv() : 데이터 파일 불러오기 -> 데이터프레임

In [2]:
import pandas as pd

In [56]:
x = pd.read_csv('np_pd_exercise\\test_csv_file.csv')

In [57]:
x = x.set_index('ID')

In [58]:
x.index.names = [None]

In [59]:
x

  LAST_NAME  AGE
1       KIM   30
2      CHOI   25
3       LEE   41
4      PARK   19
5       LIM   36

In [38]:
y = pd.read_csv('np_pd_exercise\\test_text_file.txt',sep="|")

In [39]:
y = y.set_index('ID') # 내가 지정한 특정한 col로 row index를 삼을 수 있다.
y

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [35]:
y.index.names = [None]

In [36]:
y

    A  B  C  D
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [44]:
# 이렇게 하면 바로 set_index 한 효과 얻을 수 있음
df = pd.read_csv('np_pd_exercise\\test_text_file.txt',sep="|", index_col=0)
# index_col = "ID" 로도 가능하다

In [48]:
type(df.index.names)

pandas.core.indexes.frozen.FrozenList

In [49]:
df.index.names = [None]

In [50]:
df

    A  B  C  D
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [10]:
z = pd.read_csv("np_pd_exercise\\text_without_column_name.txt",sep="|",names=["A","B","C","D"])

In [11]:
z

    A  B  C  D
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [68]:
z2 = pd.read_csv("np_pd_exercise\\text_without_column_name.txt",\
                 sep="|",header=None, names=["ID","A","B","C","D"])

In [73]:
type(z2)
# 읽어들인 파일의 형식은 DataFrame

pandas.core.frame.DataFrame

In [74]:
z2.info()
# information 확인!
# pandas에서는 string / character가 없다 : 문자는 object로 표현

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
ID    3 non-null object
A     3 non-null int64
B     3 non-null int64
C     3 non-null int64
D     3 non-null int64
dtypes: int64(4), object(1)
memory usage: 200.0+ bytes

In [101]:
z2

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [91]:
type(obj)

pandas.core.series.Series

In [102]:
# 결측치 실습
data = {"ID" : ["A1","A2","A3"],
       "X1" : [10,20,30],
       "X2" : [1.1,2.2,3.3]}

In [103]:
data

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 2.2, 3.3]}

In [113]:
# df = pd.DataFrame(data)
# df = df.set_index('ID')
df = pd.DataFrame(data, index=['a1','a2','a3']) # row index 지정

In [114]:
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  2.2
a3  A3  30  3.3

In [115]:
# 데이터프레임에 행 추가
df2 = df.reindex(['a1','a2','a3','a4'])

In [116]:
# Pandas에서는 Nan : 결측값(누락)
df2

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

In [120]:
df2.to_csv("df2.csv", sep="?") # sep도 마음대로 조정할 수 있다

In [132]:
df2.to_csv("df2.csv", sep=",", na_rep="NaN") # na_rep로 결측값은 어떻게 나타낼 것인가

In [133]:
tempfile = pd.read_csv("df2.csv")

In [134]:
tempfile

  Unnamed: 0   ID    X1   X2
0         a1   A1  10.0  1.1
1         a2   A2  20.0  2.2
2         a3   A3  30.0  3.3
3         a4  NaN   NaN  NaN

In [142]:
import numpy as np
# matrix를 간단히 df로 만들 수도 있다
# DataFrame 생성할 때는 rowname은 index / colname은 columns
df1 = pd.DataFrame(np.arange(12).reshape(3,-1),\
                  index=['r0','r1','r2'],\
                  columns=['c0','c1','c2','c3'])

In [143]:
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [145]:
df1.T # transpose : 전치

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [147]:
df1.axes # axis의 복수형 : 축의 이름 list로 return

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [149]:
df1.dtypes # dataframe의 자료형들 볼 때 : 보통은 info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 4 columns):
c0    3 non-null int32
c1    3 non-null int32
c2    3 non-null int32
c3    3 non-null int32
dtypes: int32(4)
memory usage: 152.0+ bytes

In [150]:
df1.shape # 모양ㄴ

(3, 4)

In [155]:
df1.ndim # 차원수

2

In [161]:
df1.size # 총 value의 갯수

12

In [162]:
df1.values # 프레임 빼고 값들만

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [153]:
df1.index # rowlist

Index(['r0', 'r1', 'r2'], dtype='object')

In [154]:
df1.columns # collist

Index(['c0', 'c1', 'c2', 'c3'], dtype='object')

c0    0
c1    1
c2    2
c3    3
Name: r0, dtype: int32

In [168]:
import numpy as np
# matrix를 간단히 df로 만들 수도 있다
# DataFrame 생성할 때는 rowname은 index / colname은 columns
df2 = pd.DataFrame({'c1' : ['a','a','b','b','c'],\
                   'v1' : np.arange(5),\
                   'v2' : np.random.randn(5)},\
                  index=['r0','r1','r2','r3','r4'])

In [169]:
df2

   c1  v1        v2
r0  a   0  0.347828
r1  a   1 -0.034921
r2  b   2 -1.175354
r3  b   3 -1.618527
r4  c   4  1.056228

In [173]:
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [171]:
# 여기에서 행만 가져오고 싶다!
df2['c1']

r0    a
r1    a
r2    b
r3    b
r4    c
Name: c1, dtype: object

In [184]:
df2.ix[1] # depreciated되긴 했으나 뭐
df2.ix['r1']

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

c1            a
v1            1
v2   -0.0349214
Name: r1, dtype: object

In [185]:
df2.ix[2:]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2 -1.175354
r3  b   3 -1.618527
r4  c   4  1.056228

In [180]:
df2.loc['r1'] # 컬럼 이름으로 접근 # label name

c1            a
v1            1
v2   -0.0349214
Name: r1, dtype: object

In [182]:
df2.iloc[1] # 컬럼 순서로 접근 # 순서

c1            a
v1            1
v2   -0.0349214
Name: r1, dtype: object

In [186]:
df2.iloc[1:]

   c1  v1        v2
r1  a   1 -0.034921
r2  b   2 -1.175354
r3  b   3 -1.618527
r4  c   4  1.056228

In [187]:
# 탐색적 분석 방법 : EDA
# 데이터 분석 작업에서 필수
df2.head(3)

   c1  v1        v2
r0  a   0  0.347828
r1  a   1 -0.034921
r2  b   2 -1.175354

In [188]:
df2.tail(3)

   c1  v1        v2
r2  b   2 -1.175354
r3  b   3 -1.618527
r4  c   4  1.056228

In [195]:
td = df2[['v1','v2']]
type(td) # 중괄호 2개 : DF

pandas.core.frame.DataFrame

In [197]:
td = df2['v1'] # 깊은 복사가 아니어서
td[0] = 124 # 값을 변경하면
type(td) # 중괄호 1개 : Series

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

pandas.core.series.Series

In [198]:
df2.loc[['r1','r2']] # 파라미터는 list로

   c1  v1        v2
r1  a   1 -0.034921
r2  b   2 -1.175354

In [199]:
df2 # 값 변경하면 얘도 바뀜

   c1   v1        v2
r0  a  124  0.347828
r1  a    1 -0.034921
r2  b    2 -1.175354
r3  b    3 -1.618527
r4  c    4  1.056228

In [234]:
df2 = pd.DataFrame({'c1' : ['a','a','b','b','c'],\
                   'v1' : np.arange(5),\
                   'v2' : np.random.randn(5)},\
                  index=['r0','r1','r2','r3','r4'])

In [235]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r4
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null int32
v2    5 non-null float64
dtypes: float64(1), int32(1), object(1)
memory usage: 140.0+ bytes

In [236]:
newindex = ['r0','r1','r3','r5','r6']
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [237]:
df2.reindex(newindex) # 원본 그대로, 복사본 리턴
# 없는 놈들은 NaN으로

     c1   v1        v2
r0    a  0.0 -0.172944
r1    a  1.0 -1.292294
r3    b  3.0 -0.559529
r5  NaN  NaN       NaN
r6  NaN  NaN       NaN

In [238]:
df2

   c1  v1        v2
r0  a   0 -0.172944
r1  a   1 -1.292294
r2  b   2  0.562762
r3  b   3 -0.559529
r4  c   4 -0.347966

In [239]:
df2 = df2.reindex(newindex,fill_value=1) # 결측값 채우는 param : fill_value

In [240]:
df2.info() # fill_value을 1로 때려넣어도 각 col의 속성에 따라 나뉘어져서 들어감 : obj/int/float

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r6
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null int32
v2    5 non-null float64
dtypes: float64(1), int32(1), object(1)
memory usage: 140.0+ bytes

In [241]:
df2

   c1  v1        v2
r0  a   0 -0.172944
r1  a   1 -1.292294
r3  b   3 -0.559529
r5  1   1  1.000000
r6  1   1  1.000000

In [244]:
df2 = pd.DataFrame({'c1' : ['a','a','b','b','c'],\
                   'v1' : np.arange(5),\
                   'v2' : np.random.randn(5)},\
                  index=['r0','r1','r2','r3','r4'])

In [245]:
td2 = df2.reindex(newindex,fill_value="missing") # 일케하면 다 obj로 됨

In [246]:
td2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r6
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null object
v2    5 non-null object
dtypes: object(3)
memory usage: 160.0+ bytes

In [260]:
dIndex = pd.date_range('07/02/2019', periods=5, freq='D') # 날짜데이터 만들어주는 함수
# 보통 row index로 씀

In [261]:
df3 = pd.DataFrame({'c1':[1,2,3,4,5]}, index=dIndex)
# 이런식으로 날짜데이터 만들고, dIndex 리스트 만들어서 걍 index인자에 때려넣으면 편함

In [262]:
df3

            c1
2019-07-02   1
2019-07-03   2
2019-07-04   3
2019-07-05   4
2019-07-06   5

In [263]:
dIndex2 = pd.date_range('06/30/2019', periods=10, freq='D')

In [264]:
dIndex2

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09'],
              dtype='datetime64[ns]', freq='D')

In [265]:
df3.reindex(dIndex2) # 이런식으로 데이터 있는건 그대로, 없는건 NaN 
# 기본적으로 pandas를 만들면 float가 기본형

             c1
2019-06-30  NaN
2019-07-01  NaN
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  NaN
2019-07-08  NaN
2019-07-09  NaN

In [269]:
df3.reindex(dIndex2, method="ffill") # NaN 있을 경우 forward로 채우기

             c1
2019-06-30  NaN
2019-07-01  NaN
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  5.0
2019-07-08  5.0
2019-07-09  5.0

In [275]:
df3.reindex(dIndex2, method="bfill") # NaN 있을 경우 backward로 채우기

             c1
2019-06-30  1.0
2019-07-01  1.0
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  NaN
2019-07-08  NaN
2019-07-09  NaN