In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [4]:
titanic.size

13365

In [5]:
def count_missing(data):
    null_data = pd.isnull(data)
    null_count = np.sum(null_data)
    return null_count

def prop_missing(data):
    n = count_missing(data)
    return n / data.size

In [10]:
count_missing(titanic).head()

survived      0
pclass        0
sex           0
age         177
sibsp         0
dtype: int64

In [9]:
titanic.apply(count_missing, axis=1).head()
# apply를 쓰는 이유! row/col을 선택가능!

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [18]:
titanic.apply(prop_missing, axis=1).tail(10) 
# 아 이렇게 axis만 바꾸면 되서 짱 편하네!
# apply 굿!

881    0.066667
882    0.066667
883    0.066667
884    0.066667
885    0.066667
886    0.066667
887    0.000000
888    0.133333
889    0.000000
890    0.066667
dtype: float64

In [19]:
titanic.apply(prop_missing,axis=0) #

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [15]:
df=pd.read_csv("data_0705/gapminder.tsv",sep="\t")
df
df.groupby('year').lifeExp.mean()
df.year.unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

In [21]:
y1952=df[df.year==1952]
y1952
y1952_mean=y1952.lifeExp.mean()
y1952_mean

49.05761971830987

In [24]:
y1952=df[df.year==1952]
y1952.head(10)

         country continent  year  lifeExp       pop     gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333    779.445314
12       Albania    Europe  1952   55.230   1282697   1601.056136
24       Algeria    Africa  1952   43.077   9279525   2449.008185
36        Angola    Africa  1952   30.015   4232095   3520.610273
48     Argentina  Americas  1952   62.485  17876956   5911.315053
60     Australia   Oceania  1952   69.120   8691212  10039.595640
72       Austria    Europe  1952   66.800   6927772   6137.076492
84       Bahrain      Asia  1952   50.939    120447   9867.084765
96    Bangladesh      Asia  1952   37.484  46886859    684.244172
108      Belgium    Europe  1952   68.000   8730405   8343.105127

In [26]:
df.groupby('year')['lifeExp'].mean() 
# 보통 이런식으로 우리는 써왔다 => group화한 후, 통계함수 적용!

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [27]:
# 하지만 '내가 직접 만든 함수로' 더 복잡한 연산도 실행시킬 수 있다!
df.groupby('year')['lifeExp'].agg(np.mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [28]:
df.groupby('year')['lifeExp'].agg(np.max)

year
1952    72.670
1957    73.470
1962    73.680
1967    74.160
1972    74.720
1977    76.110
1982    77.110
1987    78.670
1992    79.360
1997    80.690
2002    82.000
2007    82.603
Name: lifeExp, dtype: float64

In [29]:
df.groupby('year')['lifeExp'].agg(np.size)

year
1952    142.0
1957    142.0
1962    142.0
1967    142.0
1972    142.0
1977    142.0
1982    142.0
1987    142.0
1992    142.0
1997    142.0
2002    142.0
2007    142.0
Name: lifeExp, dtype: float64

In [30]:
def myMean(v): # 요놈은 만들떄부터 '한 행'을 가지고 연산하는걸로 만듬!
    n = len(v)
    sum = 0
    for val in v:
        sum += val
    return sum / n

In [32]:
myMean(df['lifeExp'])

59.47443936619713

In [35]:
# 근데 만약에 이걸 그룹화 한다면?
df.info()
df.groupby(['continent','year'])['pop'].agg(myMean)
# 요런식으로 사용할 수 있을것이다
# => 보통 만드는 function은 행과 열에 대해서 적용하는 걸로 만든당

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

continent  year
Africa     1952    4.570010e+06
           1957    5.093033e+06
           1962    5.702247e+06
           1967    6.447875e+06
           1972    7.305376e+06
           1977    8.328097e+06
           1982    9.602857e+06
           1987    1.105450e+07
           1992    1.267464e+07
           1997    1.430448e+07
           2002    1.603315e+07
           2007    1.787576e+07
Americas   1952    1.380610e+07
           1957    1.547816e+07
           1962    1.733081e+07
           1967    1.922986e+07
           1972    2.117537e+07
           1977    2.312271e+07
           1982    2.521164e+07
           1987    2.731016e+07
           1992    2.957096e+07
           1997    3.187602e+07
           2002    3.399091e+07
           2007    3.595485e+07
Asia       1952    4.228356e+07
           1957    4.735699e+07
           1962    5.140476e+07
           1967    5.774736e+07
           1972    6.518098e+07
           1977    7.225799e+07
           1982    7.909502e+07
           1987    8.700669e+07
           1992    9.494825e+07
           1997    1.025238e+08
           2002    1.091455e+08
           2007    1.155138e+08
Europe     1952    1.393736e+07
           1957    1.459635e+07
           1962    1.534517e+07
           1967    1.603930e+07
           1972    1.668784e+07
           1977    1.723882e+07
           1982    1.770890e+07
           1987    1.810314e+07
           1992    1.860476e+07
           1997    1.896480e+07
           2002    1.927413e+07
           2007    1.953662e+07
Oceania    1952    5.343003e+06
           1957    5.970988e+06
           1962    6.641759e+06
           1967    7.300207e+06
           1972    8.053050e+06
           1977    8.619500e+06
           1982    9.197425e+06
           1987    9.787208e+06
           1992    1.045983e+07
           1997    1.112072e+07
           2002    1.172741e+07
           2007    1.227497e+07
Name: pop, dtype: float64

In [36]:
df = pd.DataFrame(data={'data1': np.random.normal(4),
                        'data2': np.random.normal(4),
                        'key1' : ['a','a','b','b'],
                         })

In [45]:
import re
pat = re.compile('.*@.+(\.[^@\s\.]+)+')
pat.match('sflnfdslnksf@sldfknlfs.com.com.com')