In [1]:
import pandas as pd
import seaborn as sns
tips = sns.load_dataset("tips")

# 1

In [13]:
tips['sex'] = tips['sex'].str.lower()

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 8.8+ KB

In [9]:
tips.ix[[1,3,5,7],'tip'] = 'missing'

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [11]:
tips.head(8)

   total_bill      tip     sex smoker  day    time  size
0       16.99     1.01  female     No  Sun  Dinner     2
1       10.34  missing    male     No  Sun  Dinner     3
2       21.01      3.5    male     No  Sun  Dinner     3
3       23.68  missing    male     No  Sun  Dinner     2
4       24.59     3.61  female     No  Sun  Dinner     4
5       25.29  missing    male     No  Sun  Dinner     4
6        8.77        2    male     No  Sun  Dinner     2
7       26.88  missing    male     No  Sun  Dinner     4

# 1-(3)

In [14]:
# StandardScaler(X): 평균이 0과 표준편차가 1이 되도록 변환.
# RobustScaler(X): 중앙값(median)이 0, IQR(interquartile range)이 1이 되도록 변환.
# MinMaxScaler(X): 최대값이 각각 1, 최소값이 0이 되도록 변환
# MaxAbsScaler(X): 0을 기준으로 절대값이 가장 큰 수가 1또는 -1이 되도록 변환

# 2

In [15]:
# 표준화: 평균에 대해 표준편차를 고려해 얼마나 떨어져있는지 알려주는 방법
# 정규화: 전체 값을 0~1 사이의 값으로 압축하는 방법

# 3

In [16]:
# 지도학습 : 라벨링이 되어있는 데이터에 대한 학습
# 비지도학습 : 라벨링이 되어있지 않는 데이터에 대한 학습 : 클러스터링
# 강화학습 : 보상과 페널티를 이용한 학습

# 4

In [18]:
# 기본적으로 데이터 프레임을 기준열로 그룹화하고, 연산을 하고싶은 열을 선택한 다음
# 통게함수를 적용한다.
# apply, agg함수를 이용하여 사용자 지정 함수도 사용할 수 있다
# Dataframe.groupby('colname0')['colname1'].sum()
# Dataframe.groupby('colname0')['colname1'].mean()
# Dataframe.groupby('colname0')['colname1'].max()
# Dataframe.groupby('colname0')['colname1'].min()
# Dataframe.groupby('colname0')['colname1'].apply(np.mean)
# Dataframe.groupby('colname0')['colname1'].count()
# Dataframe.groupby('colname0')['colname1'].size()