In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5'],
    'C': ['C3', 'C4', 'C5'],
    'D': ['D3', 'D4', 'D5']},
    index=['apple', 'banana', 'pineapple'])

In [3]:
df

            A   B   C   D
apple      A3  B3  C3  D3
banana     A4  B4  C4  D4
pineapple  A5  B5  C5  D5

In [4]:
df.ix[0,0]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'A3'

In [5]:
df.ix['apple','A']

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'A3'

In [6]:
df.ix[0]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    A3
B    B3
C    C3
D    D3
Name: apple, dtype: object

In [8]:
df

            A   B   C   D
apple      A3  B3  C3  D3
banana     A4  B4  C4  D4
pineapple  A5  B5  C5  D5

In [12]:
df.loc['apple']

A    A3
B    B3
C    C3
D    D3
Name: apple, dtype: object

In [15]:
df.loc['apple','A']

'A3'

In [16]:
df2 = pd.DataFrame(np.arange(12).reshape(3,-1))

In [17]:
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [18]:
df2.loc[0,0]

0

In [20]:
df2.loc[:,0]

0    0
1    4
2    8
Name: 0, dtype: int32