In [75]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [76]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [77]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [78]:
obj = pd.Series([4, 7, -5, 3], index=['d','b','a','c'])
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [80]:
obj.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [81]:
obj['d']

4

In [83]:
obj[['d','c']] # Series에서 인덱싱으로 여러개 뽑아오려면 인자를 list 형식으로 묶어서 넘겨줘야 함

d    4
c    3
dtype: int64

In [85]:
obj[['d']] # 한개만 넘겨도 이러면 'Series'가 return됨

d    4
dtype: int64

In [86]:
obj[obj>2] # 불리언으로 조건에 만족하는 값들만 불러오기 가능

d    4
b    7
c    3
dtype: int64

In [87]:
obj * 2 # broadcasting

d     8
b    14
a   -10
c     6
dtype: int64

In [89]:
import numpy as np
np.exp(obj) # series에도 numpy 함수들 사용 가능

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [91]:
type(obj)

pandas.core.series.Series

In [93]:
obj.sum() # numpy 함수 사용가능

9

In [94]:
np.mean(obj) # numpy 함수 사용가능

2.25

In [99]:
'd' in obj

True

In [96]:
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [1]:
data = {"ID" : "A1",
       "X1" : 10,
       "X2" : 1.1}

In [5]:
import pandas as pd
import numpy as np
obj2 = pd.Series(data)

In [9]:
obj2

ID     A1
X1     10
X2    1.1
dtype: object

In [14]:
ID = ["ID","X1","X2","X3"]
obj3 = pd.Series(data, index=ID) # 현재 index를 ID로 준 상태 ok

In [15]:
obj3

ID     A1
X1     10
X2    1.1
X3    NaN
dtype: object

In [16]:
pd.isnull(obj3) # Series를 리턴해줌!

ID    False
X1    False
X2    False
X3     True
dtype: bool

In [17]:
pd.notnull(obj3)

ID     True
X1     True
X2     True
X3    False
dtype: bool

In [19]:
type(obj3)

pandas.core.series.Series